In [108]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [109]:
data=pd.read_csv("emp_attrition.csv")

In [110]:
data.head()

,Age,BusinessTravel,Department,DistanceFromHome,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,JobRole,JobSatisfaction,NumCompaniesWorked,Date,OverTime,PercentSalaryHike,PerformanceRating,YearsAtCompany,MonthlyIncome,Attrition
0,33.0,Travel_Frequently,Research & Development,3.0,Life Sciences,1.0,Male,3.0,1.0,Research Scientist,1.0,1.0,7/25/2016 19:04,Yes,11.0,3.0,10.0,3348.0,Yes
1,32.0,Travel_Rarely,Sales,4.0,Medical,4.0,Male,1.0,3.0,Sales Executive,4.0,1.0,8/21/2011 16:29,No,11.0,3.0,14.0,10400.0,Yes
2,40.0,Travel_Rarely,Research & Development,9.0,Life Sciences,4.0,Male,3.0,1.0,Laboratory Technician,1.0,3.0,9/22/2010 6:12,No,14.0,3.0,5.0,2018.0,Yes
3,42.0,Travel_Rarely,Research & Development,7.0,Medical,2.0,Female,4.0,2.0,Research Scientist,2.0,6.0,11/18/2014 11:17,Yes,16.0,3.0,1.0,2372.0,No
4,43.0,Travel_Frequently,Research & Development,27.0,Life Sciences,3.0,Female,3.0,3.0,Manufacturing Director,1.0,8.0,3/9/2011 11:58,No,11.0,3.0,8.0,10820.0,No

In [111]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21381 entries, 0 to 21380
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      21355 non-null  float64
 1   BusinessTravel           21347 non-null  object
 2   Department               21339 non-null  object
 3   DistanceFromHome         21334 non-null  object
 4   EducationField           21353 non-null  object
 5   EnvironmentSatisfaction  21342 non-null  object
 6   Gender                   21331 non-null  object
 7   JobInvolvement           21358 non-null  float64
 8   JobLevel                 21350 non-null  float64
 9   JobRole                  21345 non-null  object
 10  JobSatisfaction          21352 non-null  float64
 11  NumCompaniesWorked       21333 non-null  object
 12  Date                     21381 non-null  object
 13  OverTime                 21333 non-null  object
 14  PercentSalaryHike        21366 non-null  object
 15  PerformanceRating        21351 non-null  object
 16  YearsAtCompany           21333 non-null  float64
 17  MonthlyIncome            21365 non-null  object
 18  Attrition                21343 non-null  object
dtypes: float64(5), object(14)
memory usage: 3.1+ MB

In [112]:
data.describe()

,Age,JobInvolvement,JobLevel,JobSatisfaction,YearsAtCompany
count,21355.000000,21358.000000,21350.000000,21352.000000,21333.000000
mean,30.840834,2.142289,1.926557,2.146028,8.144612
std,15.647045,0.850059,0.820964,0.932168,4.974814
min,1.000000,1.000000,1.000000,1.000000,0.000000
25%,19.000000,1.000000,1.000000,1.000000,4.000000
50%,31.000000,2.000000,2.000000,2.000000,8.000000
75%,43.000000,3.000000,3.000000,3.000000,12.000000
max,60.000000,4.000000,4.000000,4.000000,18.000000

In [113]:
data.columns

Index(['Age', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'EducationField', 'EnvironmentSatisfaction', 'Gender', 'JobInvolvement',
       'JobLevel', 'JobRole', 'JobSatisfaction', 'NumCompaniesWorked', 'Date',
       'OverTime', 'PercentSalaryHike', 'PerformanceRating', 'YearsAtCompany',
       'MonthlyIncome', 'Attrition'],
      dtype='object')

In [114]:
data.shape

(21381, 19)

In [115]:
data.isnull().sum()

Age                        26
BusinessTravel             34
Department                 42
DistanceFromHome           47
EducationField             28
EnvironmentSatisfaction    39
Gender                     50
JobInvolvement             23
JobLevel                   31
JobRole                    36
JobSatisfaction            29
NumCompaniesWorked         48
Date                        0
OverTime                   48
PercentSalaryHike          15
PerformanceRating          30
YearsAtCompany             48
MonthlyIncome              16
Attrition                  38
dtype: int64

In [116]:
data.nunique()

Age                           60
BusinessTravel                 3
Department                     3
DistanceFromHome              30
EducationField                 7
EnvironmentSatisfaction        6
Gender                         2
JobInvolvement                 4
JobLevel                       4
JobRole                       10
JobSatisfaction                4
NumCompaniesWorked            10
Date                       21069
OverTime                       2
PercentSalaryHike             20
PerformanceRating              4
YearsAtCompany                19
MonthlyIncome              10696
Attrition                      2
dtype: int64

In [117]:
data.isnull().sum()

Age                        26
BusinessTravel             34
Department                 42
DistanceFromHome           47
EducationField             28
EnvironmentSatisfaction    39
Gender                     50
JobInvolvement             23
JobLevel                   31
JobRole                    36
JobSatisfaction            29
NumCompaniesWorked         48
Date                        0
OverTime                   48
PercentSalaryHike          15
PerformanceRating          30
YearsAtCompany             48
MonthlyIncome              16
Attrition                  38
dtype: int64

In [118]:
data.shape

(21381, 19)

In [119]:
data.dropna(inplace=True)

In [120]:
data.isnull().sum()

Age                        0
BusinessTravel             0
Department                 0
DistanceFromHome           0
EducationField             0
EnvironmentSatisfaction    0
Gender                     0
JobInvolvement             0
JobLevel                   0
JobRole                    0
JobSatisfaction            0
NumCompaniesWorked         0
Date                       0
OverTime                   0
PercentSalaryHike          0
PerformanceRating          0
YearsAtCompany             0
MonthlyIncome              0
Attrition                  0
dtype: int64

In [121]:
data.shape

(20759, 19)

In [122]:
data["DistanceFromHome"]=data["DistanceFromHome"].replace("[\$?]","",regex=True).astype(float)
data["EnvironmentSatisfaction"]=data["EnvironmentSatisfaction"].replace("[\$?]","",regex=True).astype(float)
data["JobSatisfaction"]=data["JobSatisfaction"].replace("[\$?]","",regex=True).astype(float)
data["NumCompaniesWorked"]=data["NumCompaniesWorked"].replace("[\$?]","",regex=True).astype(float)
data["PerformanceRating"]=data["PerformanceRating"].replace("[\$?]","",regex=True).astype(float)
data["MonthlyIncome"]=data["MonthlyIncome"].replace("[\$?]","",regex=True).astype(float)
data["PercentSalaryHike"]=data["MonthlyIncome"].replace("[\$?]","",regex=True).astype(float)

In [129]:
data.columns

Index(['Age', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'EducationField', 'EnvironmentSatisfaction', 'Gender', 'JobInvolvement',
       'JobLevel', 'JobRole', 'JobSatisfaction', 'NumCompaniesWorked', 'Date',
       'OverTime', 'PercentSalaryHike', 'PerformanceRating', 'YearsAtCompany',
       'MonthlyIncome', 'Attrition'],
      dtype='object')

In [123]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20759 entries, 0 to 21380
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      20759 non-null  float64
 1   BusinessTravel           20759 non-null  object
 2   Department               20759 non-null  object
 3   DistanceFromHome         20759 non-null  float64
 4   EducationField           20759 non-null  object
 5   EnvironmentSatisfaction  20759 non-null  float64
 6   Gender                   20759 non-null  object
 7   JobInvolvement           20759 non-null  float64
 8   JobLevel                 20759 non-null  float64
 9   JobRole                  20759 non-null  object
 10  JobSatisfaction          20759 non-null  float64
 11  NumCompaniesWorked       20759 non-null  float64
 12  Date                     20759 non-null  object
 13  OverTime                 20759 non-null  object
 14  PercentSalaryHike        20759 non-null  object
 15  PerformanceRating        20759 non-null  float64
 16  YearsAtCompany           20759 non-null  float64
 17  MonthlyIncome            20759 non-null  float64
 18  Attrition                20759 non-null  object
dtypes: float64(10), object(9)
memory usage: 3.2+ MB

In [124]:
data.duplicated().sum()

246

In [125]:
data=data.drop_duplicates()

In [126]:
data.duplicated().sum()

0

data1 = data[data["Attrition"] == "Yes"]

mean_age = data1["Age"].mean()
mean_income = data1["MonthlyIncome"].mean() 
mean_hike =data1 ["PercentSalaryHike"].mean() 
mean_rating = data1["PerformanceRating"].mean()

df_mean = pd.DataFrame({‘Age’: [mean_age], ‘MonthlyIncome’: [mean_income], ‘PercentSalaryHike’: [mean_hike], ‘PerformanceRating’: [mean_rating]})

In [104]:
data.columns

Index(['Age', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'EducationField', 'EnvironmentSatisfaction', 'Gender', 'JobInvolvement',
       'JobLevel', 'JobRole', 'JobSatisfaction', 'NumCompaniesWorked', 'Date',
       'OverTime', 'PercentSalaryHike', 'PerformanceRating', 'YearsAtCompany',
       'MonthlyIncome', 'Attrition'],
      dtype='object')

mean_age = data1["Age"].mean()

In [128]:
data1=data.groupby("Attrition")["Age","MonthlyIncome","PercentSalaryHike","PerformanceRating"].mean()
data1.loc["Yes"]

Age                    30.238029
MonthlyIncome        7475.428172
PerformanceRating       1.801875
Name: Yes, dtype: float64

In [130]:
data["ratio_years"]=data["YearsAtCompany"]/data["NumCompaniesWorked"]

In [131]:
data["ratio_years"]

0        10.000000
1        14.000000
2         1.666667
3         0.166667
4         1.000000
           ...
21125    17.000000
21126     1.714286
21127     1.600000
21128     1.500000
21129     1.800000
Name: ratio_years, Length: 20513, dtype: float64